:root {
  --color-primary: #344fdf;
}

html {
  font-size: 62.5%;
}

body {
  /* font-family: "Merriweather", serif; */
  font-family: "Noto Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  box-sizing: border-box;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* navigation */

.nav {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background: black;
  align-items: center;
}

.nav__logo {
  width: 80px;
  height: 64px;
}

.nav__list {
  display: flex;
  width: auto;
  max-height: 100%;
  align-items: center;
  align-self: stretch;
  justify-content: center;
}

.nav__item {
  display: flex;
  width: 100%;
  height: 100%;
}

.nav__item > a {
  text-decoration: none;
  padding: 0.5rem 2rem;
  color: rgb(192, 189, 189);
  transition: color 0.3s;
  display: flex;
  flex: 1;
  align-items: center;
  /* background: crimson; */
}

.nav__item > a:hover {
  color: #fff;
}
